<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Tarea</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Bien hecho!</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <form #formUpdate="ngForm" (ngSubmit)="updateTask(Task._id)">
                <div class="form-group">
                  <input #title="ngModel" [(ngModel)]="Task.title" class="form-control" type="text" name="title" id="titulo" placeholder="Titulo de la tarea" required>
                </div>
                <div class="form-group">
                  <textarea #description="ngModel" [(ngModel)]="Task.description" class="form'control" name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Descripción de la tarea" required></textarea>
                </div>
                <input [disabled]='!formUpdate.valid' type="submit" value="Actualizar Tarea" class="btn btn-info">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col col-sm-12">
      <h2>Ingresar nueva tarea</h2>
      <div *ngIf="alert" class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>Bien hecho!</strong> {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formTask" (ngSubmit)="submit()">
            <div class="form-group">
              <input formControlName="title" [ngClass]="{'border border-danger': !formTask.get('title').valid}" class="form-control" type="text" name="titulo" id="titulo" placeholder="Titulo de la tarea" required>
            </div>
            <div class="form-group">
              <textarea [ngClass]="{'border border-danger': !formTask.get('description').valid}" formControlName="description" class="form'control" name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción de la tarea" required></textarea>
            </div>
            <input [disabled]='!formTask.valid' type="submit" value="Guardar Tarea" class="btn btn-info">
        </form>
    </div>

    <div class="col col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of Tasks | paginate:{itemsPerPage:5,currentPage:p}; index as i">
                <th scope="row">{{i}}</th>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                  <a (click)="getTask(task._id)" data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Editar</a>
                  <a class="btn btn-danger" (click)="deleteTask(task._id)">Eliminar</a>
                </td>
              </tr>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </tbody>
          </table>
    </div>
  </div>
</div>
